{% extends "bash.html" %}
{% block heads %}

{% endblock %}


{% block bodys %}
    <aside>
    </aside>
    <div class="col-md-10 tops ">
        <ul class="details ">
            <li class="col-md-10"><h2>个人信息</h2></li>
            <li class="col-md-5"><span>姓名: </span>{{ users.name }}</li>
            <li class="col-md-5"><span>年龄：</span>{{ users.age }}</li>
            <li class="col-md-5"><span>性别：</span>{% if users.gender %}男{% else %}女{% endif %}</li>
            <li class="col-md-5"><span>身高：</span>{{ users.height }}cm</li>
            <li class="col-md-5"><span>邮箱：</span>{{ users.email }}</li>
            <li class="col-md-5"><span>电话：</span>{{ users.phone }}</li>
            <li class="col-md-5"><span>学号：</span>{{ users.id }}</li>
            <li class="col-md-5"><span>QQ账号：</span>{{ users.qq }}</li>
            <li class="col-md-5"><span>毕业院校：</span>郑州工程技术学院</li>
        </ul>
    </div>
{% endblock %}