{% extends "bash.html" %}
{% block heads %}
    <style>
        .left_l {
            border-right: 1px black solid;
            padding-left: 0;
            margin: 0;
        }

        ul {
            list-style: none;
        }

        .back {
            border-top: 0;
            background: url("/static/images/background/{{ back }}");
            background-size: auto;
            height: 1000px;
        }
    </style>
{% endblock %}


{% block bodys %}
    <div class="col-md-2 left_l"></div>
    <div class="col-md-10">
        <ul>
            {% for key,value in users.items %}
                <li>{{ key }}:{{ value }}</li>
            {% endfor %}

        </ul>
    </div>


{% endblock %}