{% extends "bash.html" %}
{% block heads %}
    <style>
        .form-xp {
            background-image: url("/static/images/background/back9.jpg");
            width: 301px;
            height: auto;
            margin: auto;
            margin-top: 100px;
            border: #0f0f0f 1px solid;
            text-align: center;
        }
        .form-sm {
            display: inline-block;
        }

        .ax {
            color: red;
            display: none;
        }
    </style>

{% endblock %}
{% block bodys %}
    <form class="form-xp">
        <div class="form-group">
            <label for="exampleInputEmail1">请输入账号或者邮箱:</label>
            <input class="form-control" type="email" id="useremail" placeholder="email">
        </div>
        <div class="form-group">
            <label for="exampleInputpassword">请输入密码</label>
            <input type="password" class="form-control" id="userpassword" placeholder="password">
        </div>
        <div><p class="ax">用户名错误请重新输入</p></div>
        <div class="form-group">
            <button type="submit" class="btn btn-default form-sm" onclick="land()">登陆</button>
            <button type="reset" class="btn btn-default form-sm" onclick="regi()">注册</button>
        </div>
    </form>
    <span></span>
    <script>
        function land() {
            var username = $("#useremail").val(),
                userpassword = $("#userpassword").val();
            $.post("/landing",{"username":username,"userpassword":userpassword},function (data) {
                if ( data.error == 0 ) {
                    window.location.href = "{% url "home" %}";
                } else {
                    alert('账号或密码输入错误，请重新输入');
                }
            });
        }
        function regi() {
            window.location.href ="{% url "register" %}";
        }
    </script>
{% endblock %}