{% extends "bash.html" %}
{% block heads %}
    <style>
        .form-xp {
            background-image: url("/static/images/background/back9.jpg");
            width: 301px;
            height: auto;
            margin: auto;
            margin-top: 100px;
            border: #0f0f0f 1px solid;
            text-align: center;
        }
        .form-sm{
            display: inline-block;
        }
    </style>
{% endblock %}
{% block bodys %}
    <form class="form-xp">
        <div class="form-group">
            <label for="exampleInputEmail1">请输入账号或者邮箱:</label>
            <input class="form-control" type="email" id="exampleInputEmail1" placeholder="email">
        </div>
        <div class="form-group">
            <label for="exampleInputpassword">请输入密码</label>
            <input type="password" class="form-control" id="exampleInputpassword" placeholder="password">
        </div>
        <button type="submit" class="btn btn-default form-sm">登陆</button>
        <button type="submit" class="btn btn-default form-sm">注册</button>


    </form>

    <script>
    
    </script>
{% endblock %}